body{
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}



.kontent{
    display: flex;
    flex-direction: row-reverse;
}

.main{
    margin-left: 450px;
    display: flex;
    flex-direction: column;
}

.sidebar_right{
    margin-left: -50px;
    top: 30px;
    margin-right: 30px;
    margin-top: -130px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 400px;
    position: relative;
    background-color: white;
}

.single_post{
    margin-top: 10px;
    width: 600px;
    margin-right: 50px;
    background-color: white;
    border: 1px grey solid;
    border-radius: 10px;
    width: 475px;
    position: relative;
}

.sidebar_left{
    width: 245px;
    height: 100%;
    position: fixed;
    border-right: solid rgb(193, 193, 193) 1px;
    background-color: white;
    top:0px;
    left: 0px;
}



.logo1{
    display: flex;
    margin: 10px;
    margin-top: 20px;
    width: 8%;
    height: 8%;
    margin-bottom: 20px;
}

.sidebar_left_menu{
    flex-direction: column;
    margin: 0px 10px;
    display: flex;
    gap: 13px;
}

.sidebar_left_menu > a:first-child{
    margin: 30px 0px 20px 5px;
}

.sidebar_left_menu > a:nth-child(1) > img{
    width: 110px;
}

.sidebar_left_menu > a:nth-child(8) > img{
    border-radius: 50%;
}

.sidebar_left_menu > a:nth-child(9){
    margin-top: 85px;
}


.sidebar_left_button{
    display: flex;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    gap: 5px
}

.sidebar_left_button:nth-child(2) > p{
    font-weight: bold;
}

.sidebar_left_button:hover > .sidebar_left_icon{
    width: 26px;
    height: 26px;
    margin-left: 4px;
}

.sidebar_left_icon{
    display: flex;
    align-self: center;
    width: 25px;
    height: 25px;
    margin: 5px;
    margin-right: 10px;
}

/* Stories< */

.stories{    
    background-color: white;
    width: 475px;
    height: 140px;
}

.stories_content::-webkit-scrollbar{
    display: none;
}

.stories_content{
    list-style: none;
    display: flex;
    padding: 15px 0px 10px 15px;
    border: solid rgb(195, 195, 195) 1px;
    border-radius: 10px;
    gap: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.on_story > .story_pfp{
    border: solid 5px transparent;
    background-image: url(assets/assets/border.png);
    background-size: 65px;
    background-position: -5px -5px;
    border-radius:50%;
    width: 55px;
    height: 55px;

}

.off_story > .story_pfp{
    border: solid 5px transparent;
    background-image: url(assets/assets/border2.png);
    background-size: 65px;
    background-position: -5px -5px;
    border-radius:50%;
    width: 55px;
    height: 55px;
}

.on_story{
    text-decoration: none;
    font-size: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.off_story{
    text-decoration: none;
    font-size: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.buttons2{
    justify-content: center;
}

.stories_arrow_right{
    position: absolute;
    background-image: url(assets/assets/arrow_right.png);
    background-size: cover;
    padding: 10px;
    top: 70px;
    right: 570px;
    border-radius: 50%;
}

.stories_arrow_left{
    position: absolute;
    background-image: url(assets/assets/arrow_left.png);
    background-size: cover;
    padding: 10px;
    top: 70px;
    left: 480px;
    border-radius: 50%;
}

/* Stories> */



.sidebar_right > header{
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.sidebar_right > header > div{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar_right > header > div > a{
    color: black;
    font-size: 14;
    font-weight: bold;
    text-decoration: none;
}

.sidebar_right > header > a > .pfp3{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.sidebar_right > header > .sidebar_right_button{
    margin-left: 120px;
}

.pfp3{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar_right_button{
    color: rgb(0, 140, 255);
    font-size:12px;
    text-decoration: none;
    font-weight: bold;
}

.sidebar_right_info{
    font-size: 12px;
    color: grey;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 180px; 
    height: 1.2em; 
    white-space: nowrap;
}

.sidebar_right_acount{
    font-size: 14px;
    color: grey;
}

.sidebar_right_proposes_tab{
    margin-left: 40px;
    margin-top: 20px;
}

.sidebar_right_proposes_tab > span{
    font-size: 14px;
    font-weight: bold;
    color: grey;
}

.sidebar_right_proposes_tab > a{
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 100px;
}

.sidebar_right_proposes > li{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.sidebar_right_proposes > li > div{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.sidebar_right_proposes > li > .sidebar_right_button{
    position: relative;
    left: 60px;
}

.sidebar_right_proposes > li > div > a{
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.sidebar_right_proposes{
    list-style: none;
}


.links_tab{
    margin-left: 40px;
}

.link{
    font-size: 12px;
    text-decoration: none;
    color: grey;
}

.link:hover{
    text-decoration: underline;
}

.link:hover:nth-child(17){
    text-decoration: none;
}
.links_tab3 > span{
    color:grey;
}

footer{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 12px;
    text-decoration: none;
    color: grey;
}

.post{
    display: flex;
    justify-content: center;
}



.post_pfp{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.sidebar_right_profile{
    width: 40px;
    height: 40px;
    background-image: url(assets/pfp\ 3.png);
    background-size: 150%;
    border-radius: 50%;
    background-color: black;
    background-position: 50%;
    background-repeat: no-repeat;
}

.profile{
    width: 60px;
    height: 60px;
    background-image: url(assets/pfp\ 1.png);
    background-size: 190%;
    border-radius: 50%;
    background-color: black;
    background-position: 50%;
    background-repeat: no-repeat;
}

.user_pfp{
    display: flex;
    align-items: center;
    margin: 10px;
}

.user_pfp > div{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user_pfp > div > a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.user_pfp > div > span{
    color: black;
    font-size: 12px;
}

.user_pfp > a:nth-child(1){
    width: 40px;
    height: 35px;
    background-image: url(assets/pfp\ 3.png);
    background-size: 150%;
    border-radius: 50%;
    background-color: black;
    background-position: 50%;
    background-repeat: no-repeat;
}


.post_options{
    color: black;
    font-size: 24px;
    text-decoration: none;
    margin-left: 310px;
}

#photo1{
    padding-left: 40px;
}

#photo2{
    padding-left: 60px;
}

.spacebet{
    padding: 0px 200px;
}

.post_photo > img{
    width: 80%;
}

.post_photo{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: black;
    width: 500px;
}

.post_photo::-webkit-scrollbar{
    display: none;
}



.post_arrow_left{
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url(arrow_left4.png);
    background-size: cover;
    border: none;
    position: absolute;
    top: 350px;
    left: 10px;
}

.post_arrow_right{
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url(arrow_right4.png);
    background-size: cover;
    border: none;
    position: absolute;
    top: 350px;
    left: 450px;
}

.prof4{
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url(Prof4.png);
    background-size: cover;
    border: none;
    position: absolute;
    bottom: 220px;
    left: 60px;
}

.post_buttons{
    display: flex;
    gap: 10px;
    margin: 10px;
}

.post_buttons > a:nth-child(4){
    margin-left: 330px;
}




.post_info{
    display: flex;
    align-items: center;
    gap: 5px
}

.post_info > .post_pfp{
    margin-left: 10px
}

.post_info > span{
    color: black;
    font-size: 14px;
}

.post_info > a{
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.comment > a{
    border-radius: 50%;
}

.comment > a > img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.comment > div > input{
    border-style: hidden
}

.comment > div > input:focus{
    outline: none;
}

.comment > div{
    display: flex;
    flex-direction: row;
}

.post_discription{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
}

.post_discription_content{
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 36px; 
    white-space: nowrap;
    display: inline-block;
    position: relative;
    top: 2.5px;
}


.post_acount{
    font-weight:bold;
    color: black;
    text-decoration: none;
}

.post_more{
    font-weight:normal;
    color: grey;
    text-decoration: none;
}

.post_details{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.post_details > .post_date{
    color: grey;
    font-size: 12px;
    font-weight:lighter;
    margin-right: 5px;
}

.post_details > a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight:bold;
}

.comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: solid grey 1px;
}

.comment > a > img{
    border-radius: 50%;
    margin: 10px;
}

.comment > div > a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(0, 140, 255);
    font-weight: bold;
}

.comment > div > input{
    padding-right: 190px;
}

.main-content{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: row;
}

.post_arrows > a:nth-child(1){
    background-image: url(assets/assets/arrow_left.png);
}

.post_arrows > a:nth-child(2){
    background-image: url(assets/assets/arrow_right.png);
}

.post_arrows > a:nth-child(3){
    background-image: url(assets/assets/mark.png);
}

.mark{
    border: solid red 1px;
    color:transparent;
    width: 35px;
    height: 36px;
    background-color: transparent;
    background-image: url(arrow_left4.png);
    background-size: cover;
    border: none;
    position: absolute;
    top: 610px;
    left: 50px;
}

.mark:hover > .mark_name{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    width: 120px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 10px;
    position: absolute;
    top: -275px;
    left: 140px;
}
