/*
Tutaj znajduje się stylowanie LEFT-WRAPPER
*/
body{
    display: flex;
    flex-direction: row;
    font-family: "Nowa Helvetica", sans-serif;
}
body > .left-wrapper{
   padding-right: 20px;
   border-right: 1px solid rgb(149, 142, 142);
   position: fixed;
   height: 100%;
   top: 0px;
   width: 200px;
}
.logo{
    margin-top: 30px;
    margin-left: 5px;
}
.instagram-menu{
    position: absolute;
    left: -25px;
}
ul li{
    margin: 4px;
}
.menu-icon{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 8px;
}   
.content-menu-instagram{
    margin: 50px;
    text-decoration: none;
    color: black;
}
.footer .menu-icon{
    position: absolute;
    left: 10px;
    bottom: 20px;
    color: black;
}





/*
Tutaj jest stylowanie środkowej częśći Instagrama czyli instastory oraz post
*/

.middle-of-instagram{
    display: flex;
    flex-direction: column;
    margin-left: 25%
}

/*
Tutaj stylowane jest instastory
*/
.container{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 10px;
}
.horizontal-scroll{
    width: 480px;
    height: 80px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.horizontal-scroll .btn-scroll{
    background-color: white;
    color: #999;
    box-shadow: 0 0 10px #999;
    padding: 5px 8px;
    border: 0;
    border-radius: 50%;
    margin: 0 5px;
    z-index: 1;
    cursor: pointer;
    transition: 1s;
}

.storys-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    transition: 0.5s all ease-out;
}

.story-circle {
    background: linear-gradient(rgb(231, 0, 231), rgb(255, 115, 0));
    width: 68px;
    height: 68px;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}   

.story-circle img{
    margin-top: 4px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.story span{
    font-size: small;
    display: block;
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}





/*
Tutaj jest stylowanie RIGHT-WRAPPER
*/
.right-wrapper{
    margin: 30px;
    width: 300px;
    margin-top: 50px;
}
.header-right-wrapper{
    display: flex;
    flex-direction: row;
}
.header-right-wrapper .content-of-profile-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.nick-of-proposed-acounts{
    color: black;
    font-size: 14px;
}
.name-of-profile-header{
    display: flex;
    flex-direction: column;
}
.nick-profile-header{
    color: black;
    font-size: 14px;
}
.content-propoce-acount{
    display: flex;
    align-items: center;
}
.img-propoce-acount{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right:5px;
}
.name-lastname-profile-header{
    color: black;
    font-size: 12px;
}
.content-about-post{
    gap:10px;
}
.name-of-profile-post{
    color: black;
}
.header-right-wrapper img{
    border-radius: 50%;
    width:55px;
    height: 55px;
}
.location-post{
    color: grey;
    font-size: small;
}
a{
    text-decoration: none;
}
.header-right-wrapper{
    display: flex;
    justify-content: space-between;
}
.switch-profile-button{
    position: absolute;
    top: 24px;
    right: 0px;
    color: blue;
    font-size: small;
    cursor: pointer;
}
.header-content{
    margin-top: 25px;
    font-size: 15px;
}
.sugestions-text{
    color: grey;
    font-size: 14px;
}
.right-wrapper{
    position: relative;
}
.view-all-text{
    color: black;
    position: absolute;
    right: 0px;
    font-size: small;
}
.content-right-wrapper{
    margin-top: 20px;
    position: relative;
}
.content-right-wrapper .content-proposed-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.content-proposed-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.follow{
    position: absolute;
    right: 0px;
    color: blue;
    font-size: small;
    cursor: pointer;
}
.followed-by-profil-acounts-text{
    color: grey;
    font-size: 12px;
    width: 200px;
   display: block;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.content-proposed-profile{
    margin-top: 9px;
}
.footer-right-wrapper{
    margin-top: 30px;
}
.additional-information{
    color: grey;
    font-size: 11px;
    flex-direction: row;
    flex-wrap: wrap;
}
.company-of-instagram{
    margin-top: 15px;
    text-transform: uppercase;
    font-size: small;
    color: grey;
}
.company-of-instagram > span{
    font-size: 12px;;
}






/*
Tutaj stylowany jest post 
*/

body .post{
    width: 500px;
    height: 640px;
    border: 1px solid grey;
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
    padding-top: 10px;
}
.header-post .logo-post-header{
    margin-left: 8px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
.header-post{
    display: flex;
    flex-direction: row;
    position: relative;
}
.header-post .content-post-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}
button{
    background-color: white;
    border: none;
}
.post{
    position: relative;
    padding-top: 5px;
}
.header-post .more-header-button{
    position: absolute;
    height: 40px;
    width: 45px;
    right: 10px;
    top: 0px;
    cursor: pointer;
}
.header-post a{
    text-decoration: none;
}
.location-post{
    font-size: small;
}
.content-about-post{
    color: black;
}
.post-photo{
    position: relative;
}
.post .main-post-photo{
    margin-top: 10px;
    width: 500px;
    height: 380px;
}
.tagged-persons-photo{
    position: absolute;
    left: 10px;
    bottom: 40px;
    cursor: pointer;
}
.menu-icon img{
    width: 34px;
    height: 34px;
    gap: 20px;
}
.post-icons{
    margin-top: -20px;
    width: 20px;
    height: 20px;
    display: flex;
}
.menu-icon button{
    margin-top: -12px;
    width: 35px;
    height: 35px;
}
.div-of-like{
    display: flex;
    flex-direction: row;    
}
.div-of-like img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 10px;
}
.div-of-like span{
    font-size: 14px;
}
.bottom-post-part .div-of-like{
    display: flex;
    align-items: center;
}
.bottom-post-part a > span{
    font-size:14px;
    margin-left: 10px;
}
.time-post-published{
    color: grey;
    margin-top: 3px;
    font-size: small;
    margin-left: 10px
}
.footer-post{
    margin-top: 7px;
    position: relative;
    border-top: 1px solid rgb(228, 221, 221);
    padding-top: 4px;
}
.more-description-post{
    color: grey;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}
.footer-post img{
    width: 35px;
    height: 30px;
}
.bottom-post-part .footer-post{
    display: flex;
    align-items: center;
}
.footer-post span{
    font-size: small;
    color: grey;
    margin-left: 5px;
}
.bottom-post-part a{
    text-decoration: none;
}
button .post-comment{
    top: 15px;
    right: 10px;
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: rgb(181,220,255);
}
.post-comment{
    cursor: pointer;
}
input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: rgb(255, 255, 255);
    margin-left: 3px;
}
.no-outline{
    outline: none;
}
.like-by-person-post{
    margin-left: 3px;
    font-weight: bold;
}
.post-description-author{
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}
.post-description{
    margin-left: 3px;
    font-size: 14px;
}
.post-icons img{
    width: 37px;
    height: 37px;
    cursor: pointer;
}
#save-the-post{
    position: absolute;
    right: 10px;
    bottom: 170px;
}
.post-icons{
    margin-bottom: 15px;
}
.additional-information a{
    color: gray;
}