.left-sidebar {
    position: fixed;
    background-color: white;
    height: 100%;
    width: 200px;
    list-style-type: none;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    border-right: 2px solid gray    ;
}
.logo-wrapper-left-sidebar{
    margin-top: 20px;
    margin-left: 10px;
}
.li-left-sidebar {
    margin-left: 5px;
    display: flex;
    align-items: center;
    gap: 3px;
}
.a-left-sidebar {
    height: 100%;
    width: 100%;
    text-decoration: none;
    border-radius: 25px;
    display: flex;
    align-items: center ;
}
.nav-left-sidebar{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.more-left-sidebar{
    display: flex;
    align-items: center;
}
.footer-left-sidebar{
    margin-top: 200px;
    margin-left: 10px;
    width: 100%;
}

.menu-left-sidebar{
    margin-top: 5px;
}