html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    font-family: 'Roboto';
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    
 }

a{
    text-decoration: none;
}


.left_sidebar_menu_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.left_sidebar_menu_item_img_wrapper{
    height: 40px;
    width: 40px;
    box-sizing: border-box;
}

img{
    max-height: 100%;
}

.left_sidebar_menu_item > span{
    margin-left: 20px;
}

.left_sidebar{
    max-width: 200px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0px 30px 20px;
    border-right: 2px solid lightgray;
    padding-right: 50px;
}

.left_sidebar_logo_wrapper{
    box-sizing: border-box;
}
.thicc{
    font-weight: bold;
}

.left_sidebar_menu_item_pfp_img{
    border-radius: 50%;
}





