.all_wrapper{
    display: flex;
    flex-direction: row;
}

.elemnt_left{
    position: fixed;
    height: 95%;
}

.elemnt_right{
    position: absolute;
    right: 0%;
}

.elemnt_middle{
    margin-left: 400px;
}

.stories_bottombar{
    margin: 50px 0px 50px 0px;
}

.last_link_tkingy{
    font-size: smaller;
    color: gray;
}