

.right_sidebar{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.right_sidebar_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right_sidebar_top_left{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.right_sidebar_top_left_spans_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right_sidebar_top_left_spans_upper{
    display: flex;
    flex-direction: row;
}

.switch_accaunt_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.verified_img_wrapper{
    display: flex;
    flex-direction: column;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
}

.right_sidebar_top_left_pfp_wrapper{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 20px 20px 20px 00px;
}

.right_sidebar_top_left_pfp{
    border-radius: 50%;
}

img{
    max-width: 100%;
    min-width: 100%;
}

.user_nick{
    color: gray;
}

.switch_accaunt_button > span{
    color: #0095f6
}

.right_sidebar_middle > a > span{
    color: grey;
}

.right_sidebar_middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right_sidebar_bottom_content_left_spans_wrapper > span{
    color: grey;
} 



.right_sidebar_bottom_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.right_sidebar_bottom_content_left{
    display: flex;
    flex-direction: row;
}

.right_sidebar_bottom_content_left_spans_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right_sidebar_bottom_content_left_spans_upper{
    display: flex;
    flex-direction: row;
}

.right_sidebar_bottom_content_left_pfp{
    border-radius: 50%;
    max-width: 100%;
}

.right_sidebar_bottom_content_left_pfp_wrapper{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    margin: 5px;
}

.right_sidebar_bottom_content_left_verify{
    border-radius: 50%;
    max-width: 100%;
}

.right_sidebar_bottom_content_right > span{
    color: #0095f6;
}

.right_sidebar_bottom_content_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    text-decoration: none;
}



