
.right-sidebar {
    margin: 45px;

    display: flex;
    align-items: flex-start;

    width: 350px;

    font-size: 13px;
}

.profile .profile-img {
    width: 65px;
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.profile .profile-img img{
    max-width: 100%;
    border-radius: 50%;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    padding: 8px;
    padding-left: 0     ;
}

.about-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    
}

.nickname {
    font-weight: bold;
    font-size: 13px;
}

.name {
    font-size: 12px;
}

.gray {
    color: rgb(155, 155, 155);
}

.profile-link {
    color: rgb(35, 32, 32);

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.suggestions {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.suggestions-inf {
    color: rgb(155, 155, 155);
    font-weight: bold;
    font-size: 14px;
}

.end {
    margin-left: auto;
    font-weight: bolder;
}

.inf {
    min-width: 100%;
    margin-top: 20px;
    display: flex;
}

.follow {
    color: rgb(0, 191, 255);
    font-weight: bold;
    margin-left: auto;
}

.end-link {
    margin-left: auto;
}

.suggested-ppl {
    display: flex;
    flex-direction: column;

    margin: 20px 0;
}

.suggested-profiles {
    display: flex;
    flex-direction: row;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.suggestions-img {
    width: 40px;
    height: 40px;

    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 50%;
    margin-right:10px;
    border: 1px solid gray;
}

.bg-center {
    background-position: center;
}

.bg-bottom {
    background-position: bottom;
}

.footer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 10px;
}

.footer-content a::after{
    content: "·";
}

.footer-content a:hover{
    text-decoration: underline;
}

.footer-content a{
    color: #ccc;
    font-size: 10px;
}

.copyright {
    color: #ccc;
    font-size: 11px;
}
