* {
  margin: 0;
  font-family: Roboto;
  text-decoration: none;
  color: black;
}
.wrapper {
  display: flex;
}
.bold {
  font-weight: bold;
}
.blue {
  color: #0095f6;
}
.grey {
  color: #8e8e8e;
}
.end {
  margin-left: auto;
}
.upper {
  text-transform: uppercase;
}
.sidebar {
  width: 335px;
  height: 100vh;
  padding-left: 24px;
  border-right: 1px solid #dbdbdb;
  position: fixed;
  box-sizing: border-box;
}
.logo-wrapper {
  height: 100px;
  display: flex;
  align-items: center;
}
.logo {
  width: 103px;
}
.navigation-menu {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.bottom-menu-wrapper {
  position: absolute;
  bottom: 32px;
}
.navigation-menu-button {
  display: flex;
  align-items: center;
  gap: 12px;
}
.icon {
  width: 32px;
  height: 32px;
}
.main-content {
  display: flex;
  justify-content: center;
  margin-left: 335px;
  padding: 32px;
  width: 100%;
  gap: 32px;
}
.stories-and-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  width: 470px;
  gap: 32px;
}
.stories {
  width: 470px;
  height: 150px;
  display: flex;
  align-items: center;
  overflow: auto;
  gap: 40px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  box-sizing: border-box;
}
.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 72px;
}
.avatar {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.avatar-small {
  width: 32px;
  height: 32px;
}
.avatar-likes {
  width: 20px;
  height: 20px;
}
.story-text {
  text-align: center;
  overflow: hidden;
  font-size: 12px;
}
.post {
  width: 470px;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
}
.post-top-bar {
  height: 56px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  gap: 12px;
}
.post-picture {
  width: 100%;
}
.actions {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
.likes {
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  gap: 12px;
}
.upload-date {
  font-size: 10px;
  padding-left: 12px;
}
.comment-field {
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
  gap: 12px;
  border-top: 1px solid #efefef;
}
.comment-text {
  white-space: nowrap;
  font-size: 14px;
}
.post-button {
  color: #b3dbff;
}
.right-sidebar {
  width: 347px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 18px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}
.profile-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.suggestions-title {
  display: flex;
}
.right-sidebar-menu-element {
  display: inline-block;
}
.right-sidebar ul li:after {
  content: " \00b7";
}
.right-sidebar ul li:last-child:after {
  content: none;
}
