h1 {
  background-color: green;
  color: yellow;
}

li {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 5px;
  width: 200px;
}

.block {
  background: rgba(12, 68, 235, 0.339);
  width: 200px;
  height: 200px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.red {
  color: red;
}
