body {
  display: flex;
  flex-direction: row;
  font-family: "Roboto";
}
body .left-wrapper {
  padding: 8px;
  border-right: 1px solid black;
}
span {
  text-decoration: none;
  color: gray;
}
a {
  text-decoration: none;
}
.logo {
  margin-top: 30px;
  margin-left: 5px;
}
.content-menu {
  margin-left: -23px;
}
.icons {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.img-span {
  margin: 20px;
  text-decoration: none;
  color: black;
}
footer {
  margin-top: 20px;

}

.top-stories {
  margin-left: 15%;
}
.stories {
  display: flex;
  flex-direction: row;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 10px;
  gap: 30px;
  width: 500px;
  overflow-x: scroll;
}
.img-top {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
article {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.story-image {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-bottom: 6px;
}
.Dog-Tall {
  background-image: url(./photos/dog-tall.png);
}
.Dog-Wide {
  background-image: url(./photos/dog-wide.png);
  background-position: left;
}
.Dog-Square {
  background-image: url(./photos/dog-square.png);
}
.Delivery {
  background-image: url(./photos/deliver.png);
}
.Techni-logo {
  background-image: url(./photos/techni-logo.png);
  background-size: contain;
}

.post-wrapper{
  max-width: 405px;
  margin-left: 150px;
  margin-top: 40px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 4%
  
}

.main-post-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.data-picture{
  height: 45px;
  width: 45px;    
  margin: 2px; 
  background-size: cover; 
  border-radius: 100%;
  background-position: center;
}

.data-post{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  padding-right: 20px;

}

.post-title{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.dots{
  margin-left: auto;
  margin-top: 11px;
  text-decoration: none;
  color: black;

}

.post-picture-wrapper{
  height: 400px;
  width: 400px;
  margin-top: 10px;
}

.post-picture{
  height: 400px;
  width: 400px;
  background-size: cover;
}

.Lider-narodu{
  background-position: center;
}




li{
  list-style: none;
}

.icon-wrapper{
  display: flex;
  padding-left: 2px;
  margin-bottom: 3px;
  margin-top: 0px;
}

.post-icons{
  display: flex;
  gap: 10px;
  margin-left: 10px;

}
.plane{
  margin-top: 4px;
}

.save{
  margin-left: auto;
  margin-right: 11px;
}

.bold-text{
  font-weight: bold;
}

.Liked-by{
  margin-left: 15px;
  display: flex;
  gap: 5px;
}

.post-desc{
  display: flex;
  gap: 5px;
  margin-left: 15px;
}

.other{
  margin-left: 15px;
  display: flex;
  gap: 7px;
  margin-top: 15px;
}

.days-ago{
  text-transform: uppercase;
  color: grey;
  font-size: small;

}

.translation{
  font-weight: bold;
  font-size: small;
}

.like-profile{
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

#post-information{
  margin-top: 6px;
}   

.text-space{
  border: none;
  width: 250px;
}

.text-space:hover{
  border: 3px solid black;
  transition: 0.1s;
}

.comment{
  margin-top: 10px;
  margin-left: 4px;
  display: flex;
  align-items: center;
}

.postA{
  color: rgb(170, 192, 217);
  text-decoration: none;

  margin-left: auto;
  margin-right: 20px;
}



.right-bar {
  margin: 30px;
  width: 370px;
  margin-top: 50px;
  margin-left: 80px;
}
.header {
  display: flex;
  flex-direction: row;
}
.header .profile-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
#profile-name {
  gap: 10px;
}
.main {
  color: black;
}
.header img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.come-main {
  color: grey;
  font-size: small;
}

.switch-profile {
  margin-left: 120px;
  color: blue;
  font-size: bold;
}
.header-content {
  margin-top: 25px;
  font-size: 15px;
}
#sugestions {
  color: grey;
}
#view-all {
  color: black;
  margin-left: 205px;
  font-size: small;
}
.content {
  margin-top: 20px;
}
.content .profile-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.profile-content img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.follow {
  margin-left: 45px;
  color: blue;
  font-size: small;
}
.come-main-of-follow {
  color: grey;
  font-size: small;
  width: 200px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profile-content {
  margin-top: 9px;
}
.footer {
  margin-top: 30px;
}
.information {
  color: grey;
  font-size: small;
  flex-direction: row;
  flex-wrap: wrap;
}
.insta-information {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: small;
  color: grey;
}

.profile-png-title {
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.profile-png {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.ogorek {
  background-image: url(./photos/ogorek.png);
}

.high-mma {
  background-image: url(./photos/high-mma.png);
}

.fame-mma {
  background-image: url(./photos/fame.png);
  background-size: contain;
}

.friz {
  background-image: url(./photos/friz.png);
  background-size: contain;
}

.kizo {
  background-image: url(./photos/kizo.png);
}

.boxdel {
  background-image: url(./photos/boxdel.png);
}
