body{
    font-family: sans-serif;
}

.post-wrapper{
    max-width: 405px;
    margin-left: 100px;
    margin-top: 40px;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 4%
    
}

.main-post-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-pic{
    height: 45px;
    width: 45px;    
    margin: 2px; 
    background-size: cover; 
    border-radius: 100%;
    background-position: center;
}

.user-data{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    padding-right: 20px;

}

.text-wrapper1{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.dots{
    margin-left: auto;
    margin-top: 11px;
    text-decoration: none;
    color: black;

}

.post-picture-wrapper{
    height: 400px;
    width: 400px;
    margin-top: 10px;
}

.post-picture{
    height: 400px;
    width: 400px;
    background-size: cover;
}

.Lider-narodu{
    background-position: center;
}

#walter{
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}

#petter-griffin{
    background-position: top;
}

#Andrew-tate{
    background-position: left;
}

#andrewtate{
    background-position: right;
}


li{
    list-style: none;
}

.icon-wrapper{
    display: flex;
    padding-left: 2px;
    margin-bottom: 3px;
    margin-top: 0px;
}

.right-icons{
    display: flex;
    gap: 10px;
    margin-left: 10px;

}
.plane{
    margin-top: 4px;
}

.save{
    margin-left: auto;
    margin-right: 11px;
}

.bold-text{
    font-weight: bold;
}

.Liked-by{
    margin-left: 15px;
    display: flex;
    gap: 5px;
}

.description{
    display: flex;
    gap: 5px;
    margin-left: 15px;
}

.other{
    margin-left: 15px;
    display: flex;
    gap: 7px;
    margin-top: 15px;
}

.days-ago{
    text-transform: uppercase;
    color: grey;
    font-size: small;

}

.translation{
    text-transform: capitalize;
    font-weight: bold;
    font-size: small;
}

.like-profile{
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

#text-container{
    margin-top: 6px;
}   

.text-space{
    border: none;
    width: 250px;
    background-image: url(./add-coment.png);
    background-position: left;
    background-size:contain;
    background-repeat: no-repeat;

}

.text-space:hover{
    border: 3px solid lightgray;
    transition: 0.1s;
}

.comment{
    margin-top: 10px;
    margin-left: 4px;
    display: flex;
    align-items: center;
}

.postA{
    color: rgb(170, 192, 217);
    text-decoration: none;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: 20px;
}