body{
    font-family: sans-serif;
    display: flex;
    justify-items: center;
    align-items: flex-start;
}

.stories-wrapper{
    display: flex;
    padding: 30px;
    width: 500px;
    overflow-x:scroll ; 
    border-radius: 6%;
    height: 95px;
    margin-right: 40px;
    margin-left: 100px;
    border: 1px solid lightgray;
    height: 60px;
}

.stories-icon{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    margin-left: 6px;
}

.bg{
    min-height: 60px;
    min-width: 60px;
    margin: 2px; 
    background-size: cover; 
    border-radius: 100%;

}
.bg-center{
    background-position: center;
}
.bg-left{
    background-position: left;
}
.bg-techni{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.gradient{
    padding: 2px;
    border-radius: 100%;
    background-image: linear-gradient(to top right,orange,deeppink);
    margin: 5px;

}

