body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.picture {
    width: 40px;
    margin: 10px;
}

.profile-img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 10px;
}

.navigation-menu {
    max-width: 55%;
}
.span {
    align-items: center;
     justify-content: center;
     display: flex;
}

.button:hover  {
    border-radius: 10px;
    font-weight: bold;
    transition: 0.2s; 
}

.button:active {
     color: red;
}

.sidebar {
    border-right: 1px lightgray solid;
    max-width: 400px;
}
.button{
    display: flex;
    align-items: center;
}





/* end of left sidebar code */
/*start of stories code */




.stories-icon{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    margin-left: 6px;
}

.bg{
    min-height: 60px;
    min-width: 60px;
    margin: 2px; 
    background-size: cover; 
    border-radius: 100%;

}
.bg-center{
    background-position: center;
}
.bg-left{
    background-position: left;
}
.bg-techni{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.gradient{
    padding: 2px;
    background-size: 68px 68px;
    background-image:url("insta-border.png");
    margin: 5px;

}

.techni {
    background-color: blueviolet;
}


.aside{
    width: 250px;
    height: 100%;
    padding: 10px;
    padding-bottom: 0px;
    padding-left: 5px;
    border-right: 1px solid lightgrey;


}
.logo-wrapper{

    margin-top: 10px;
    margin-bottom:0px;
    margin-bottom: 50px;
    min-width: 50%;


}

/* start of post  code */

.posty{
    margin-top: 10px;
    margin-bottom: 10px;
}

.insta-prof {
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 100%;
    width: 50px;
}
.first-post {
    width: 500px;
    height: 500px;
  
}

.ul-navigation-menu li{
    list-style-type: none;
    position: relative;
}
.stories-wrapper{
    display: flex;
    padding: 30px;
    width: 400px;
    overflow-x:scroll ; 
    border-radius: 6%;
    height: 95px;
    margin-right: 40px;
    margin-left: 100px;
    border: 1px solid lightgray;
    height: 60px;
}

#Profile-pic{ 
    min-height: 45px;
    min-width: 45px;
    margin: 2px; 
    background-size: cover; 
    border-radius: 100%;
    background-position: center;
}

#profile{
    margin-top: 15px;
    margin-left: 5px;
}



.insta-more{
    width: 20px;

}

.main-button-wrapper li{
    list-style-type: none;
    margin-left: 5px;
    text-decoration: none;

}

.main-button-wrapper{
    margin-top: 50%;
}
.insta-icon{
    display: flex;
    justify-items: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}

a:active{
    color: black;

} 

a .icon-text:hover{
    letter-spacing: 1px;
    font-weight: bold;
}




.insta-more li{
    display: flex;
    justify-items: center;
    align-items: center;
}






body{
    font-family: sans-serif;

}

.right-wrapper{
    margin: 30px;
    width: 400px;
    margin-top: 50px;

}


.header .content-prof{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.profile-name{
    gap:10px;
}
.nick{
    color: black;
    font-size: medium;
}
.header img{
    border-radius: 50%;
    width:55px;
    height: 55px;
}
.name-surname{
    color: gray;
    font-size: small;
}
a{
    text-decoration: none;
    color: black;

}
.header{
    position: relative;
}
.switch-profile{
    position: absolute;
    right: 5px;
    color: rgb(79, 79, 253);
    font-weight: bold;
}
.header-content{
    margin-top: 25px;
    font-size: 15px;
}


#sugestions{
    color: grey;
    font-size: large;
    font-weight: bold;
}

a {text-decoration: none;}
.aside2{max-width: 450px; min-height: 800px ;border: 1px solid lightgrey;}
body{
    font-family: serif;
}
.profile-header {
    max-height: 80px;
    margin-top: 35px;
}

.profile-header-div {
    display: flex;
    flex-direction: row;  

}

.profile-picture-header {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 20px;
}

.profile-name {
    color: black;
    font-weight: bold;
    
    
}
.description {
    color: gray;
    font-style: italic;
}
.description .profile-name .profile {
    display: flex;
    align-items: center;

}



.profile-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.follow {
    margin-left: 100%;
    color: blue;
    justify-content: flex-end;
}

.suggestions {
  margin-left: 35px;  
  margin-right: 20px;
}

.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    
}

.profile-content {
    margin-bottom: 20px;
}
 .down {
    margin-left: 35px;
    margin-top: 100px;
 }
 .footer-b {
    margin-top: 5px;
 }




.bg1{
    min-height: 60px;
    min-width: 60px;
    margin: 2px; 
    background-size: cover; 
    border-radius: 100%;

}
.bg-center1{
    background-position: center;
}

#background-profile{
    min-height: 70px;
    min-width: 70px;
    margin: 2px; 
    background-size: cover; 
    border-radius: 100%;
    background-position: center;

}

.container-of-links{
    margin-top: 30px;
    display: flex;
    gap:15px;
    flex-wrap: wrap;

}
.description a{
    color: gray;
    font-weight: lighter;
}
/*end?*/

.post{
    height: 800px;
    padding-top: 20px;
    max-width: 500px;
    margin-right: 500px;
    margin-left: 100px;     
    margin-top: 40px;       
    border-radius: 4%;
    border:  lightgray 1px solid;

}

.main-post-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-pic{
    height: 45px;
    width: 45px;    
    margin: 2px; 
    background-size: cover; 
    border-radius: 100%;
    background-position: center;
}

.user{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    padding-right: 20px;

}

.text-wrapper1{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.post-picture-wrapper{
    height: 400px;
    width: 400px;
    margin-top: 10px;
}

.post-picture{
    height: 400px;
    width: 400px;
    background-size: cover;
}

.Lider-narodu{
    height: 400px;
    
}

#walter{
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}

#petter-griffin{
    background-position: top;
}

#Andrew-tate{
    background-position: left;
}

#andrewtate{
    background-position: right;
}


li{
    list-style: none;
}

.icon-wrapper{
    display: flex;
    padding-left: 2px;
    margin-bottom: 3px;
    margin-top: 0px;
}

.right-icons{
    display: flex;
    gap: 10px;
    margin-left: 10px;

}
.plane{
    margin-top: 4px;
}

.save{
    margin-left: auto;
    margin-right: 11px;
}

.bold-text{
    font-weight: bold;
}

.Liked-by{
    margin-left: 15px;
    display: flex;
    gap: 5px;
}

.description{
    display: flex;
    gap: 5px;
    margin-left: 15px;
}

.other{
    margin-left: 15px;
    display: flex;
    gap: 7px;
    margin-top: 15px;
}

.days-ago{
    text-transform: uppercase;
    color: grey;
    font-size: small;

}

.translation{
    text-transform: capitalize;
    font-weight: bold;
    font-size: small;
}

.like-profile{
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

#text-container{
    margin-top: 6px;
}   

.text-space{
    border: none;
    width: 250px;
    background-image: url(./add-coment.png);
    background-position: left;
    background-size:contain;
    background-repeat: no-repeat;

}

.text-space:hover{
    border: 3px solid lightgray;
    transition: 0.1s;
}

.comment{
    margin-top: 10px;
    margin-left: 4px;
    display: flex;
    align-items: center;
}

.postA{
    color: rgb(170, 192, 217);
    text-decoration: none;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: 20px;
}
/*start of down code*/
.down {
    margin-left: 35px;
    margin-top: 100px;
}

 .footer-b {
    margin-top: 5px;
}
li {
    text-decoration: none;
}
.description {
    display: inline-block;
    color:gray
}