html,
body {
  margin: 0;
  background-color: lightgrey;
}

div {
  background-color: yellow;
  margin: 10px;
  width: 200px;
  min-height: 50px;
}

span {
  background-color: green;
  color: white;
  margin: 10px;
  width: 200px;
  min-height: 50px;
}
