body {
  font-family: sans-serif;
}

.right-sidebar {
  border: 1px solid #ccc;
  padding: 20px;
  min-height: 500px;
  max-width: 30%;
  min-width: 320px;
}

.profile {
  margin-bottom: 20px;
}

.suggestions-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.suggestions-header-title {
  color: rgb(131, 131, 131);
  font-size: 18px;
}

.suggestion-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 20px;
}

.suggestion-content {
  overflow: hidden;
  max-width: 200px;
}

.suggestion-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 5px;
}

.suggestion-followed-by {
  color: rgb(131, 131, 131);
  font-size: 14px;
}

.suggestion-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;

  margin-right: 10px;

  height: 60px;
  min-width: 60px;
}

.suggestion-image-big {
  height: 80px;
  min-width: 80px;
  margin-right: 15px;
}

.suggestion-link {
  color: rgb(5, 104, 191);
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding-left: 25px;
}

footer {
  margin-top: 20px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-link {
  color: rgb(131, 131, 131);
  display: inline-block;
  margin: 0 20px 0 0;
  text-decoration: none;
  position: relative;
}

.footer-link:after {
  display: block;
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  width: 2px;
  height: 2px;
  background-color: rgb(131, 131, 131);
}
