body,html{
    min-height: 100vh;
    margin: 0;
    width: 100%;
}
body {
    display: flex;
    flex-direction: row;
}
* {
    font-family: "Roboto", sans-serif;  
}
a{
    text-decoration: none;
    color: black;
}
.fit-img {
    box-sizing: border-box;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}
.left-sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 2px solid #ccc;
    width: 240px;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    flex: 1;
    padding: 20px;
}
.logo{
    max-width: 160px;
    padding-bottom: 20px;
}
.left-sidebar-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.main-menu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.main-menu-wrapper li{
    display: flex;
    list-style-type: none;
    padding: 5px;
    align-items: center;
    margin-top: 15px;
}
.left-nav-bar-options {
    display: flex;
    gap: 15px;
}
.left-nav-bar-options i {
    width: 20px;
}
.profile {
    border-radius: 100%;
    max-width: 24px;
}
.bottom-menu-wrapper {
    margin-top: auto;
    max-width: 100%;  
    height: 20px; 
}
.all-middle{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-top: 10px;
    padding-left: 20px;
    margin-left: 500px;
    gap: 20px;
}
.story{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    overflow: hidden;
    overflow-x: auto;  
    width: 477px;
    height: 78px;
    padding: 18px 4px;
    border-radius: 8px;
    margin-top: 27px;
    gap: 10px;
}
.story::-webkit-scrollbar{
    display: none;
}
.stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}
.story-img {
    padding: 30px;
    border-radius: 100%;
    width: 62px;
    height: 62px;
    border: 1px solid white;
}
.story-name{
    font-size: 12px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 68px;
    margin-top: 4px;
}
.border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 67px;
    background: linear-gradient(to right, rgb(234, 61, 61), rgb(231, 225, 139));
    border-radius: 100%;
}
.right-sidebar{
    width: 357px;
    margin-top: 60px;
    margin-left: -5px;
}
.profilowe{
    min-width: 32px;
    min-height: 32px;
    border-radius: 100%;
    margin-right: 10px;
}
.profile-right-sidebar-name{
    font-size: 13px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 176px;
    color: #262626;
}
.main-name{
    font-size: 13px;
    font-weight: bold;
    color: #262626;
}
.who-follows{
    font-size: 12px;
    color: #8e8e8e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 207px;
    margin-top: 3px;
}
.right-sidebar-profile-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 16px;
}
.profile-right-sidebar-img{
    min-width: 56px;
    min-height: 56px;
    border-radius: 100%;
}
.profile-detials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}
.switch{
    margin-left: auto;
    border: none;
    background-color:  white;
    color: #0095f6;
    font-weight: bold;
    font-size: 12px;
}
.middle-right-sidebar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 16px;
    color: #8e8e8e;
    font-size: 14px;
}
.zobacz-wszystkich{
    border: none;
    margin-left: auto;
    background-color:  white;
    color: #4d4d4d;
    font-size: 11px;
    font-weight: bold;
}
.profile-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.profile-people{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 16px;
    padding-left: 7px;
}
.obserwuj{
    border: none;
    background-color: white;
    margin-left: auto;
    color: #0095f6;
    font-weight: bold;
    font-size: 12px;
}
.bottom-right-sidebar{
    margin: 16px;
    max-width: 350px;
}
.footer-list{
    margin-bottom: 20px;
    margin-top: 40px;
    
}
.text-footer{
    font-size: 12px;
    color: #c2c0c0;
}
.copy-right{
    font-size: 12px;
    color: #bebdbd;
}
.all_posts{
    width: 483px;
    min-height: 500px;
}
.profile-post-img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 5px;
}
.post-img{
    width: 100%;
}
.post{
    height: 100%;
    border: 1px solid #d8d7d7;
    border-radius: 8px;
    margin-top: 20px;
}
.top-post{
    display: flex;
    justify-content: flex-start;
    margin: 8px 0px 0px;
    border-bottom: 1px solid #d8d7d7;
    padding-left: 10px;
    padding-right: 14px;
    padding-bottom: 4px;
}
.span-post-profile{
    margin: 10px;
}
.top-post-dots{
    border: none;
    background-color: white;
    margin-left: auto;
}
.emotki{
    margin: 10px 10px 10px 3px;
    max-width: 470px;
    display: flex;
}
.bookmark{
    margin-left: auto;
    padding: 5px;
    color: #8a8989;
}
.emoji{
    margin: 0px 11px 0px 5px;
}
.likes{
    margin-left: 7px;
    font-size: 14px;
    font-weight: 400;
}
.description{
    display: flex;
    justify-content: flex-start;
    margin-left: 7px;
    font-size: 14px;
    margin-top: 9px;
}
.bottom-name{
    margin-right: 5px;
    font-weight: 500;
    color: #262626;
    font-size: 14px;
    font-weight: bold;
}
.see_comments{
    margin: 2px 0px 10px 7px;
    padding-top: 10px;
    font-size: 13px;
    color: #abaaaa;
}
.time{
    margin: 10px 10px 10px 8px;
    font-size: 10px;
    color: #a4a4a4;
}
.inputbar{
    padding-left: 11px;
    padding-top: 21px;
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #d8d7d7;
    margin: 16px 0px 14px 0px;
}
.comments{
    border: none;
    background-color: white;
    padding: 0px;
    margin-right: 10px;
}
.write-comment{
    border: none;
}
.publish{
    border: none;
    background-color: white;
    margin-left: auto;
    display: block;
    color: #8ed1fe;
}
.publish:hover{
    color: #0095f6;
}
.bottom-post-text{
    color: #393939;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 357px;
}
.detial-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 181px;
    font-size: 14px;
    color: #8e8e8e;
    letter-spacing: 1px;
    margin-top: 4px;
}
.fa-bookmark:active{
    color: #262626;
}
::placeholder{
    color: #8e8e8e;
}