body, html{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
#main_wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    min-width: 15%;
}
#top_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}
.options{
    display: flex;
    align-items: center;
    margin-bottom: 29px;
    position: relative;
}
.black{
    color: black;
}
.bold{
    font-weight: bold;
}
.with_and_high{
    min-width: 28px;
    min-height: 28px;
    max-width: 28px;
}
.white_border{
    border: 1px solid white;
    border-radius: 50%;
}
.red_circle_with_number{
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -3px;
    left: 13px;
}
.notifications_circle{
    width: 12px;
    height: 12px;
    top: -3px;
    left: 17px;
}
.number_in_red_circle{
    color: white;
    font-size: x-small;
}
#left_navbar_profile{
    background-image: url("../assets/janedoe.jpg");
    background-color: #cccccc;
    height: 28px;
    width: 28px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    
}
.options_margin{
    margin-right: 19px;
}
.red_circle{
    background-color: red;
    border-radius: 50%;
    position: absolute;
}
.suggested_stories{
    min-width: 40%;
    max-width: 100%;
    height: 20%;
    padding: 5px;
    border-radius: 25px;
    display: flex;
    }
    .circle{
        border-radius: 50%;
    }
    .a_profiles{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 120px;
        text-decoration: none;
        margin: 10px;
    }
    .rainbow_outline{
        background-image: url(../assets/insta-border.png);
        height: 100px;
        width: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain;
        padding: 8px;
        margin-bottom: 10px;
    }
    .light_gray_border{
        border: 1px solid lightgray;
    }
    .suggested_profiles{
        height: 100px;
        width: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        box-sizing: border-box;
    
    }
    .profiles_name{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 80px;
        min-height: 20px;
    }
    .single_post{
        min-width: 30%;
        max-width: 100%;
        max-height: 50%;
        border-radius: 10px;
        margin-top: 50px;
    }
    .post_profile{
        display: flex;
        align-items: center;
        width: 100%;
        margin: 10px 10px 20px 10px;
    }
    .three_dots{
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain;
        position: absolute;
        top: 17px;
        right: 15px;
    }
    .post{
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain;
        width: 563px;
        height: 751px;
    }
    .post{
        width: 100%;
        height: 100%;
    }
    .white_person_on_black_background{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 30px;
        width: 30px;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    .pos_re{
        position: relative;
    }
    .reactions{
        margin: 5px;
    }
    .reactions_div{
        margin: 10px 0px;
    }
    .bookmark{
        width: 23px;
        height: 23px;
        position: absolute;
        right: 10px;
    }
    .mini_profile{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 20px;
        height: 20px;
    }
    .display_flex_and_margin_bottom{
        display: flex;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .space{
        margin-right: 5px;
    }
    .flex_wrap{
        flex-wrap: wrap;
        width: 500px;
    }
    .small{
        font-size: small;
    }
    .comment{
        display: flex;
        align-items: center;
        margin: 10px 10px 0px 10px;
        border-top: 1px solid lightgray;
        padding: 5px;
    }
    .click{
        position: absolute;
        right: 10px;
        top: 7px;
    }
    .comment_input{
        border: none;
        margin-left: 5px;
    }
    .blue{
        color: blue;
    }
    .light_gray{
        color: lightgray;
    }





    .right_sidebar{
        min-width: 30%;
        padding: 20px;
    }
    .main_profile{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain;
    }
    .header{
        display: flex;
        align-items: center;
        position: relative;
    }
    .header > a{
        padding: 10px;
    }
    .main_name{
        display: flex;
        flex-direction: column;
    }
    .main_a{
        display: flex;
        align-items: center;
    }
    .switch_a{
    position: absolute;
    right: 35px;
    }
    .other_profiles{
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 10px;
    }
    .profiles{
        display: flex;
        align-items: center;
        margin-top: 20px;
        position: relative;
    }
    .names{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .photo_profile{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .see_all{
        position: absolute;
        right: 43px;
        top: 10px;
    }
    .follow{
        position: absolute;
        right: 33px;
        top: 23px;
    }
    .list{
        display: flex;
        flex-wrap: wrap;
    }
    .info{
        width: 470px;
    }
    .other_links{
        margin-right: 20px;
    }
    .help{
        max-width: 40%;
    }