body {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.left-navbar {
  position: fixed;
  display: flex;
  height: 1000px;
  width: 220px;
  margin-left: 10px;
  border-right: 1px solid lightgrey;
}
.left-navbar-header img {
  width: 100px;
  margin-top: 20px;
}


.background_gradient {
  align-items: center;
  background: linear-gradient(45deg, yellow 2%, rgb(248, 69, 105) 40%);
  border-radius: 50px;
  display: flex;
  height: 65px;
  justify-content: center;
  width: 65px;
  }
  
  .content {
  list-style-type: none;
  margin-top: 25px;
  }
  
  .content-nav {
  align-items: center;
  color: black;
  display: flex;
  font-family: sans-serif;
  font-size: 15px;
  margin-bottom: 30px;
  text-decoration: none;
  }
  
  .content-nav:hover {
  font-weight: bold;
  }
  
  .content-nav span {
  margin-left: 15px;
  }
  
  #profile-pfp {
  border-radius: 100px;
  height: 30px;
  width: 30px;
  }
  
  .footer {
  bottom: 300px;
  position: absolute;
  }
  
  .middle-section {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-self: center;
  }
  
  .story-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 65px;
  }
  
  .story-container span {
  font-family: sans-serif;
  margin-top: 10px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
  
  .stories {
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 10px;
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  margin-left: 80%;
  padding: 10px;
  width: 480px;
  }
  
  .stories img {
  border: 3px solid white;
  border-radius: 100px;
  display: flex;
  height: 55px;
  width: 55px;
  }


.right-navbar {
  font-family: sans-serif;
  margin-left: auto;
  margin-right: 20px;
  width: 350px;
  margin-top: 25px;
}
.profile-right-navbar {
  display: flex;
  align-items: center;
}
.suggestions-header {
  margin: 15px 0px;
}
.suggestions-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.sugestions-discpt {
  display: flex;
  flex-direction: column;
}
.suggestions-wrapper img {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  margin-right: 20px;
}
.suggestions {
  display: flex;
  flex-direction: column;
}
.suggestions-wrapper a {
  text-decoration: none;
  color: #4cb1f4;
  margin-left: auto;
  font-weight: bold;
}
.suggestions-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  width: 100%;
}

.suggestions-header a {
  color: black;
  text-decoration: none;
  margin-left: auto;
}
.suggestions-header span {
  color: gray;
}
.right-navbar-profile-discpt {
  display: flex;
  flex-direction: column;
}
.profile-right-navbar img {
  width: 55px;
  height: 55px;
  border-radius: 100px;
  margin-right: 20px;
}
.profile-right-navbar a {
  text-decoration: none;
  margin-left: auto;
  font-weight: bold;
  color: #4cb1f4;
}
.right-navbar-profile-discpt span:first-child {
  font-weight: bold;
}
.right-navbar-profile-discpt span:last-child {
  color: #a1a1a1;
}
.sugestions-discpt span:last-child {
  color: #a1a1a1;
}
.sugestions-discpt span:first-child {
  font-weight: bold;
}

.help {
  color: #d5d3d3;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin-top: 10%;
  width: 400px;
}

.help p {
  max-height: 1px;
}
.help p::after {
  content: "•";
  margin: 0px 5px;
}
.help p:last-child::after {
  content: "";
}
.meta-copyright {
  color: #d5d3d3;
  margin-top: 10%;
  font-size: 14px;
}
.help li:first-child {
  list-style-type: none;
}


.post-header {
  display: flex;
  align-items: center;
  width: 500px;
  padding: 10px;
  box-sizing: border-box;
}
.post-header a {
  text-decoration: none;
  color: black;
}
.post-header span {
  margin-left: 10px;
  font-weight: bold;
}
.post-header .post-profile {
  border-radius: 100%;
  width: 35px;
  height: 35px;
}
.post-header #more-icon {
  margin-left: auto;
}
.post_main_img {
  position: relative;
  width: 577px;
}

.post_main_img .photo_main {
    box-sizing: content-box;
    width: 500px;
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    background-position: center;
}
.post_main_img #p1{
  background-image: url(./post/JesseS5.webp);
}
.post_main_img #p2{
  background-image: url(./post/ronaldo.png);
}

.post_main_img #p3{
  background-image: url(./post/me\ and\ the\ boys.png);
}


.post_main_img a {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  bottom: 25px;
}
.post_main_img #tagged-icon {
  width: 30px;
  height: 30px;
  border-radius: 1000px;
}
.post {
  margin-top: 20px;
  width: 500px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-left: 80%;
}
.post-icons {
  margin-top: 10px;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}
.post-icons #multi-img {
  width: 140px;
}
.post-icons #single-img {
  width: 31px;
}
.likes-number {
  margin-top: 15px;
  font-weight: bold;
  padding: 0 15px;
}
.post-discript {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.post-discript #more {
  color: gray;
  text-decoration: none;
}
.post-discript a {
  text-decoration: none;
}
.post-date #date-posted {
  color: gray;
  font-size: 13px;
  margin-right: 5px;
}

.post-date {
  margin: 10px 0;
  padding: 0 15px;
}
.post-add-comment {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-top: 1px solid lightgrey;
}
.post-add-comment img {
  width: 28px;
  margin-right: 15px;
}
.post-add-comment input {
  outline: none;
  border: 0;
  width: 100%;
  font-size: 15px;
}
.post-add-comment a {
  color: #4cb1f4;
  text-decoration: none;
  opacity: 0.5;
}
.post-add-comment a:hover {
  opacity: 1;
}

.follow{
  cursor: pointer;
  font-size: 15px;
}

